.btn {
  @include buttonTheme();

  &--xs {
    padding: 0.2em 0.6em;
  }

  &--sm {
    padding: 0.5em 1em;
  }

  &--md {
    padding: 0.8em 1.6em;
  }

  &--lg {
    padding: 1em 2em;
  }

  &--edit {
    background: $blue-extra-light;

    &:hover {
      background: $yellow-recipe-semi
    }
  }

  &--delete {
    background: $blue-extra-light;

    &:hover {
      background: $red-recipe-semi
    }
  }

  &--pagination {
    min-width: 30px;
    padding: 0.2em;
    margin: 0.5em;
    background: $blue-extra-light;

    &--active {
      background: $yellow-recipe-semi;
    }

    &:hover {
      background: $blue-extra-light
    }
  }
}