$dark: #434242;
$dark-semi-50: #43424250;
$orange: #f0a04b;
$orange-dark: #bd7f3d;
$white: #fcf2e6;
$white-semi-50: #fcf2e690;
$gray: #4a4a4a;
$gray-light: #dddddd;

$success: #29bb89;
$info: #a7d7c5;
$warning: #ffcc29;
$error: #d44000;