$blue-dark: #27374D;
$blue-dark-op: #27374D60;
$blue-semi: #526D82;
$blue-light: #9DB2BF;
$blue-extra-light: #DDE6ED;

$orange-dark: #E57C23;
$orange-semi: #E8AA42;

$success: #00DFA2;
$info: #8CC0DE;
$warning: #F1C93B;
$error: #EF6262;

$yellow-recipe: #e9c132;
$yellow-recipe-semi: #FBD85D;
$red-recipe: #fc6161;
$red-recipe-semi: #FF9B9B;

$white: #ffffff;

$temperature-red: #EF6262;
$temperature-orange: #E57C23;
$temperature-blue: #008fff;