.form {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 1em;

  &__row {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 0 1em 0;
  }

  &__col {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    position: relative;
    margin: 0 0 3em 0;
  }

  &__label {
    font-size: 0.8rem;
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 2;
    transition: all 200ms ease-in;
  }

  &__input {
    width: 100%;
    border: solid 1px $blue-light;
    background: $white;
    border-radius: 10px;
    padding: 1em 1em 0.4em 1em;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    &--div {
      width: 100%;
      border: solid 1px $blue-light;
      background: $white;
      border-radius: 10px;
      padding: 0.8em 1em 0.8em 1em;
      cursor: pointer;
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;

      &--text {
        width: 90%;
      }

      &--close {
        font-size: 2rem;
        position: absolute;
        right: 0.4em;
        z-index: inherit;
        color: $blue-dark;
        transition: all ease 0.3s;

        &:hover {
          color: $blue-light;
        }
      }
    }
  }

  &__textarea {
    width: 100%;
    padding: 1em;
  }

  &__button {
    cursor: pointer;
    appearance: none;
    border: none;
    outline: none;
    border-radius: 10px;
    background: $blue-dark;
    color: $white;
    padding: 1em 2em;
    width: 100%;
    transition: all ease 0.3s;

    &:hover {
      background: $blue-semi;
    }
  }

  &__links {
    width: 100%;
    padding: 0 1em;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

    a {
      cursor: pointer;
      color: $orange-dark;
      font-weight: 700;
      display: block;
      font-size: 0.8rem;
      transition: all ease 0.3s;

      &:hover {
        color: $orange-semi;
      }
    }
  }

  &__message {
    width: 100%;
    padding: 1em;
    margin: 1em 0 0 0;
    background: $error;
    color: $white;
    border-radius: 10px;
  }

  &__checkbox {
    width: 100%;
  
    & label {
      padding: .5em 1.5em .5em 2em;
      font-size: .8rem;
      line-height: .8rem;
      color: $blue-dark;
      cursor: pointer;
      position: relative;
      transition: all ease .2s;
    
      &:before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 2px solid $blue-dark;
        background: none;
        position: absolute;
        top: 4px;
        left: 0px;
        z-index: 1;
        transition: all ease .2s;
      }
    }
  
    & input[type="checkbox"] {
      display: none;
  
      &:disabled + label:before {
        border: 2px solid $blue-semi;
      }
    
      &:checked + label:before {
        background: $success;
        border: 2px solid $success;
        border-radius: 50%;
      }
    }
  }
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: 0.2em;
  left: 1.6em;
  font-size: 0.6rem;
}

.form__input:focus ~ .form__label {
  color: $orange-dark;
}


.form-extras {
  &__ingredients {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;

    &--ingredient {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      background: $yellow-recipe-semi;
      border-radius: 10px;
      padding: 6px 10px;
      
      span {
        font-size: 0.6rem;
        margin: 0 1em 0 0;
      }

      svg {
        width: 20px;
        fill: $blue-dark;
        cursor: pointer;

        &:hover {
          fill: $blue-semi;
        }
      }

      &:not(:last-child) {
        margin: 0 1em 0 0;
      }
    }
  }
}

input[type="file"] {
  display: none;
}

select {
  color: $blue-dark;
}