.form {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  &__row {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 0 1em 0;
  }

  &__col {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
  }

  &__input {
    width: 100%;
    padding: 0.5EM 1em;
  }

  &__textarea {
    width: 100%;
    padding: 1em;
  }
}