.tooltip {
  position: relative;
  display: inline-block;

  &__text {
    visibility: hidden;
    width: 120px;
    background-color: $blue-dark;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -60px;
    z-index: 1;

    &::after {
      content: " ";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: $blue-dark transparent transparent transparent;
    }
  }

  &__icon {
    svg {
      stroke: $blue-dark;
      transition: all ease 0.3s;
    }
  }

  &:hover {
    .tooltip__text {
      visibility: visible;
    }

    .tooltip__icon {
      svg {
        stroke: $blue-light;
      }
    }
  }
}