.admin {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  grid-auto-rows: minmax(300px, auto);

  @media (min-width: 575px) {
    grid-template-columns: repeat(3, 1fr);
  }
}