.filter-bar {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  &__search {
    width: 100%;
    margin: 0 1em 0 0;
    position: relative;

    &--label {
      font-size: 0.8rem;
      position: absolute;
      top: 12px;
      left: 1em;
      z-index: 2;
      transition: all 200ms ease-in;
    }
  
    &--input {
      width: 100%;
      height: 50px;
      border: solid 1px $blue-light;
      background: $white;
      border-radius: 5px;
      padding: 1em 1em 0.4em 1em;
    }

    &--icon {
      font-size: 0.8rem;
      position: absolute;
      top: 12px;
      right: 1em;
      z-index: 2;

      svg {
        width: 20px;
        fill: $blue-dark;
      }
    }

    &--options {
      width: 100%;
      position: absolute;
      top: 51px;
      left: 0;
      z-index: 1;
      border: 1px solid $blue-dark;
      border-radius: 5px;
      overflow: hidden;
      max-height: 320px;
      overflow-y: scroll;

      &--option {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0.6em;
        background: $white;
        cursor: pointer;

        &:not(:last-child) {
          border-bottom: 1px solid $blue-dark;
        }

        &:hover {
          background: $blue-extra-light;
        }

        &--title {
          font-size: 0.8rem;
          color: $blue-dark;
        }

        &--nickname {
          font-size: 0.6rem;
          color: $orange-dark;
        }
      }

      /* width */
      &::-webkit-scrollbar {
        width: 4px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px $blue-light;
      }
      
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $blue-dark;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: $blue-semi; 
      }
    }
  }

  &__filter {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
  }

  &__icon {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;

    svg {
      width: $icon-width;
      fill: $blue-dark;
      transition: all ease 0.3s;

      &:hover {
        fill: $blue-semi;
      }
    }
  }
}

.filter-bar__search--input:focus ~ .filter-bar__search--label,
.filter-bar__search--input:not(:placeholder-shown).filter-bar__search--input:not(:focus) ~ .filter-bar__search--label {
  top: 0.2em;
  left: 1.6em;
  font-size: 0.6rem;
}

.filter-bar__search--input:focus ~ .filter-bar__search--label {
  color: $orange-dark;
}

.filter-bar-labels {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;

  &--label {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background: $blue-dark;
    color: $white;
    padding: 0 6px;
    margin: 0 0.2em 0 0;
    cursor: pointer;
    transition: all ease 0.3s;
    @include borderRadiusTheme(20px);

    p {
      font-size: 0.6rem;
      margin: 0 0.5em 0 0;
    }

    svg {
      width: 20px;
      fill: $white;
    }

    &:hover {
      background: $blue-semi;
    }
  }
}