.recipe-card {
  @include borderRadiusTheme();
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: flex-end;
  background: $blue-extra-light;
  padding: 1em;
  overflow: hidden;
  cursor: pointer;
  background: linear-gradient(#27374db3, #415b80b3), url("/images/imagen-comida.jpg"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all ease 0.5s;

  &:hover {
    background: linear-gradient(#e57e23b3, #E8AA42b3), url("/images/imagen-comida.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all ease 0.5s;
  }
  
  &__info {
    width: 100%;
    color: $white;
    padding: 0.5em;
    height: 100%;
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-end;

    &--cooking {
      position: absolute;
      top: 0;
      left: 0;
      z-index: inherit;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-start;

      &--temperature {
        border-radius: 10px 0 0 10px;
        overflow: hidden;
        width: 40px;
        height: 20px;

        &--hot {
          background: $temperature-red;
        }

        &--cold {
          background: $temperature-blue;
        }

        &--warm {
          background: $temperature-orange;
        }
      }

      &--timing {
        width: 50px;
        height: 20px;
        background: $blue-extra-light;
        color: $blue-dark;
        font-size: 0.6rem;
        text-align: center;
        line-height: 22px;
      }

      &--origin {
        width: 50px;
        height: 20px;
        background: $info;
        border-radius: 0 10px 10px 0;
        color: $blue-dark;
        font-size: 0.6rem;
        text-align: center;
        line-height: 22px;
      }
    }

    &--likes {
      position: absolute;
      top: 0;
      right: 0;
      z-index: inherit;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      background: $white;
      border-radius: 10px;
      min-width: 50px;
      height: 20px;
      color: $blue-dark;
      font-size: 0.6rem;
      text-align: center;
      line-height: 20px;
    }

    &--categories {
      span {
        display: inline-block;
        background: $blue-extra-light;
        color: $blue-dark;
        font-size: 0.8rem;
        min-width: 60px;
        height: 20px;
        border-radius: 10px;
        margin: 0.2em;
        text-align: center;
        padding: 0 0.5em;
        line-height: 22px;
        font-size: 0.6rem
      };
    }
  }
}