.recipe-card {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  background: $blue-extra-light;
  padding: 1em;
  overflow: hidden;
  background: linear-gradient(#27374db3, #415b80b3), url("/images/imagen-comida.jpg"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include borderRadiusTheme();
  
  &__info {
    color: $white;
    padding: 0.5em;
    @include borderRadiusTheme();
  }
}