.footer {
  margin: 0 auto;
  padding: 1em 2em;
  max-width: 1440px;
  background: $dark;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: inherit;
  @include borderRadiusTopTheme();

  @media (min-width: 1440px) {
    padding: 1em 0;
  }
}